.soundbar-container {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .soundbar-container {
    bottom: 0;
    position: fixed;
  }
}
