.all-cards-container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5vh 0;
  overflow: scroll;
}
.trackcards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  padding: 1.5vh 2.5vw;
  margin: 2vh 5vw;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.05),
    -1px -1px 15px 5px rgba(0, 0, 0, 0.05);
  width: 90%;
  border-radius: 15px;
  transition: 0.6s;
}
.trackcards {
  /* font-family: "Permanent Marker"; */
  padding: 0.25em 1em;
  height: 10vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  margin: 1vh;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.user-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5%;
}

.track-username {
  margin: 0;
  padding-bottom: 15px;
  height: 50%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 0px 2px 3px black;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.track-title {
  color: rgb(223, 9, 9);
  font-size: 90%;
  margin: 0;
}
.track-artist {
  font-size: 70%;
  text-shadow: 0px 2px 3px white;
  margin: 0;
}

.trackcards-container:hover .track-title {
  color: red;
}
.trackcards-container:hover .track-artist {
  color: white;
  text-shadow: 0px 2px 3px black;
}
.trackcards-container:hover .track-username {
  animation: loopText 10s infinite linear;
}

@keyframes loopText {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(-85%);
  }
}

.profile-img {
  margin: 0.5em;
  height: 10vh;
  border-radius: 50%;
  box-shadow: 0px 2px 3px 0px #000000cb;
}

.trackcards-container:hover .profile-img {
  box-shadow: 0px 1px 10px 0px white;
}

.audio-container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 1vw;
  padding: 0;
  overflow: hidden;
}
.audiotrack {
  border-radius: 25px;
  height: 3.5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  outline: none;
}
.trackcards-container:hover {
  background-color: rgba(31, 29, 39, 0.925);
  width: 93%;
}
.fa-award {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.979);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 5vh;
}
.play-count {
  font-size: 1.3em;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  align-items: baseline;
  color: black;
  transform: 1s;
}
.trackcards-container:hover .votes {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.979);
  color: white;
  font-size: 1.1em;
}

.trackcards-container:hover .vote-icon {
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.979);
  font-size: 1.1em;
}

.top-0 {
  color: #f7cb3a;
}
.top-1 {
  color: #aaa9ad;
}
.top-2 {
  color: #b08d57;
}

#no-tracks-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0 10vh;
}
#no-tracks-message h1 {
  /* font-family: "Permanent Marker", cursive; */
  font-size: 2.5vw;
  letter-spacing: 0.1vw;
  font-weight: lighter;
  width: 70vw;
  margin-bottom: 3.5vh;
  text-decoration: underline;
  text-align: center;
}

#motiv {
  font-size: 4.5vw;
  letter-spacing: 1vw;
  word-spacing: 3vw;
  margin: 0;
  font-weight: lighter;
}
