.trio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10vh 0;
  text-decoration: none;
}

.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 12px 0px #0000003d;
  height: 55vh;
  font-family: "Roboto Mono", monospace;
  border-radius: 15px;
  width: 24vw;
  padding: 10px;
  transition: 0.7s;
}

.tab-container:hover {
  background-color: rgba(31, 29, 39, 0.925);
  color: white;
}

.tab-img {
  width: 15vw;
  border-radius: 150px;
}

#tab-title{
    font-size: 1.5em;
}
.tab-details p {
  font-weight: lighter;
  font-size: 1.4em;
}

.tab-btn {
  background-color: rgba(31, 29, 39, 0.925);
  border-radius: 5px;
  color: white;
  width: 7vw;
  height: 6vh;
  font-size: 2vh;
  border: none;
}

.tab-container:hover .tab-btn{
    background-color: white;
    color: black;
}