#bars {
  /* visibility: hidden; */
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 200px;
  bottom: 0px;
  z-index: -1;
  margin-left: 1vw;
  transform: rotate(180deg);
}

.bar {
  box-shadow: 0px 6px 12px 0px #0000003d;
  background: black;
  height: 3px;
  width: 2px;
  animation: sound 0ms -800ms linear infinite alternate;
}
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 18px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 774ms;
}

.bar:nth-child(2) {
  left: 5px;
  animation-duration: 733ms;
}

.bar:nth-child(3) {
  left: 9px;
  animation-duration: 707ms;
}

.bar:nth-child(4) {
  left: 13px;
  animation-duration: 758ms;
}

.bar:nth-child(5) {
  left: 17px;
  animation-duration: 700ms;
}
.bar:nth-child(6) {
  left: 21px;
  animation-duration: 727ms;
}
.bar:nth-child(7) {
  left: 25px;
  animation-duration: 741ms;
}
.bar:nth-child(8) {
  left: 29px;
  animation-duration: 719ms;
}
.bar:nth-child(9) {
  left: 33px;
  animation-duration: 787ms;
}
