.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 0;
  margin: 6vh 0 3vh;
  text-align: center;
}
#month-theme {
  margin: 0vh 1vw;
  font-size: 8vw;
  letter-spacing: 4px;
  font-weight: lighter;
  text-shadow: 4px 4px 4px #f5ae14;
  font-family: "Permanent Marker";
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#genre-themes {
  font-weight: lighter;
  font-size: 6.5vw;
  margin: 2vh 20px;
  display: flex;
  width: 90vw;
}

#remaining-days {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 3vw;
}

#days {
  margin: 4vh 0.3vw;
  padding: 0 1vw;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(156, 5, 5);
}

#directions {
  font-size: 2.5vw;
  text-align: center;
}
