.winners-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.winners-page header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:  #212527;;
  text-align: center;
  font-size: 8vw;
  letter-spacing: 4px;
  border-radius: 5px;
  margin: 3vh 1vw 0;
  padding: 0;
  font-family: "Permanent Marker";
  text-shadow: 4px 4px 4px #f5ae14;
}

header b {
  color: goldenrod;
  text-shadow: 4px 4px 3px rgb(0, 0, 0);
  letter-spacing: 20px;
  line-height: 300px;
  width: 100%;
  font-size: 20.7vw;
  margin: 0;
  padding: 0;
}

#runner-ups-title {
  font-size: 10vw;
  font-family: "Permanent Marker";
  font-weight: 100;
  word-spacing: 20px;
  letter-spacing: 10px;
  color: rgb(73, 72, 72);
  text-align: center;
  margin: 10vh 0 5vh 0;
  /* font-family: "Permanent Marker", cursive;
  font-size: 10vw;
  text-align: center;
  margin: 10vh 0 4vh;
  letter-spacing: 2vw;
  word-spacing: 3vw;
    color:  #212527;
    font-weight: lighter;
  text-decoration: underline;
  text-shadow: 4px 4px 4px #f5ae14;*/
} 

#runner-ups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5vh 5vw;
}

/* ------2ND &&  3RD PLACE CONTENDERS display------ */

.contender-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 35vh;
  border-radius: 15px;
  box-shadow: 0px 6px 12px 0px #0000003d;
    background-color: #212527;

  transition: 0.5s;
}

.contender-container:hover {
  transform: scale(1.05);
}

.contender-container:hover .play-holder {
  color: white;
  text-shadow: 2px 1px 2px #21222e;
  transform: scale(1.2);
}

.medallion-holder {
  height: 30%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 0 14px;
}

.medallion {
  font-size: 7vh;
  transition: 0.7s;
  text-shadow: 0px 3px 1px rgb(255, 255, 255);
}

.play-holder {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  transition: 0.3s;
  color: white;
  text-align: center;
  width: 100%;
  text-shadow: 1px 4px 1px palevioletred;
}

.play-button {
  display: none;
  transition: 1s;
}

.ordinal {
  letter-spacing: 20px;
  font-weight: lighter;
  color: white;
  transition: 1s;
  text-shadow: 0px 3px 1px palevioletred;
  mix-blend-mode: hard-light;
  font-size: calc(4rem +10vw);
}

.play-button:hover {
  transform: scale(1.2);
}

.contender-container:hover .play-button {
  display: flex;
}
.contender-container:hover .ordinal {
  display: none;
}

.username-holder {
  padding-right: 0.5vw;
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: lighter;
  text-align: right;
  padding-right: 1.5vw;
  padding-bottom: 1vh;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.contender-track {
  font-size: calc(.7rem + .8vw);
  color: rgba(255, 255, 255, 0.884);
}

.contender-artist {
  color: rgba(255, 255, 255, 0.658);
  font-size: calc(.5rem + .5vw);
}