.winners-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.winners-page header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #212527;
  text-align: center;
  font-size: 13vw;
  letter-spacing: 30px;
  border-radius: 5px;
  margin: 3vh 1vw 0;
  padding: 0;
  font-family: "Permanent Marker";
  text-shadow: 4px 4px 4px #f5ae14;
}

header b {
  color: goldenrod;
  text-shadow: 4px 4px 3px rgb(0, 0, 0);
  letter-spacing: 20px;
  line-height: 200px;
  width: 95%;
  font-size: 18.7vw;
  margin: 0;
  padding: 0;
}

#runner-ups-title {
  font-size: 12vw;
  font-family: "Permanent Marker";
  font-weight: 100;
  word-spacing: 20px;
  letter-spacing: 5px;
  color: rgb(73, 72, 72);
  text-align: center;
  margin: 13vh 0 5vh 0;
  line-height: 150px;
}

#runner-ups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5vh 5vw 15vh;
}

/* ------2ND &&  3RD PLACE CONTENDERS display------ */

.contender-container {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 35vh;
  border-radius: 15px;
  box-shadow: 0px 6px 12px 0px #0000003d;
  background-color: #212527;
  transition: 0.5s;
}

.contender-container:hover {
  transform: scale(1.05);
}

.contender-container:hover .play-holder {
  color: white;
  text-shadow: 2px 1px 2px #21222e;
  transform: scale(1.2);
}

.medallion-holder {
  height: 30%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 0 14px;
}

.medallion {
  font-size: 7vh;
  transition: 0.7s;
  text-shadow: 0px 3px 1px rgb(255, 255, 255);
}

.play-holder {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  transition: 0.3s;
  color: white;
  text-align: center;
  width: 100%;
  text-shadow: 1px 4px 1px palevioletred;
}

.ordinal {
  letter-spacing: 20px;
  font-weight: lighter;
  color: white;
  transition: 1s;
  text-shadow: 0px 3px 1px palevioletred;
  mix-blend-mode: hard-light;
  font-size: calc(4rem +10vw);
}

.username-holder {
  padding-right: 0.5vw;
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: lighter;
  text-align: right;
  padding-right: 1.5vw;
  z-index: 0;
  padding-bottom: 1vh;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.contender-track {
  font-size: calc(0.7rem + 0.8vw);
  color: rgba(255, 255, 255, 0.884);
}

.contender-artist {
  color: rgba(255, 255, 255, 0.658);
  font-size: calc(0.5rem + 0.5vw);
}

.contender-votes {
  width: 95%;
  margin: 2vh 0 0 0;
  display: flex;
  font-size: 3.5vh;
  flex-direction: row;
  justify-content: space-between;
}

.contender-icon {
  height: 5.5vh;
  width: 2.75vw;
  border-radius: 50%;
  margin-left: 1vw;
}

.vote-count {
  color: black;
  display: flex;
  align-items: center;
}

.heart-icon {
  color: rgb(156, 5, 5);
  padding-right: 0.5vw;
  font-size: 3vh;
}

.contender-audiotrack {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  height: 3vh;
}

@media screen and (max-width: 1500px) {
  .contender-container {
    height: 20vh;
  }

  .medallion {
    font-size: 5vh;
  }
  #audio-container {
    height: 50%;
  }

  #track-title {
    font-size: 1vw;
  }

  #track-artist {
    font-size: 0.5vw;
  }
  .contender-icon {
    height: 4vh;
    width: 4vw;
  }

  .contender-votes {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1160px) {
  #runner-ups {
    flex-direction: column;
    margin: 1vh;
  }
  #runner-ups-title {
    font-size: 10vw;
    font-family: "Permanent Marker";
    font-weight: 100;
    word-spacing: 20px;
    letter-spacing: 10px;
    color: rgb(73, 72, 72);
    text-align: center;
    margin: 10vh 0 1vh;
    line-height: 150px;
  }

  #runner-ups section {
    margin: 5vh 0;
  }
  .contender-container {
    width: 55vw;
    height: 30vh;
  }

  .play-holder {
    font-size: 11vw;
  }
  .contender-icon {
    height: 5vh;
    width: 6vw;
    border-radius: 50%;
    margin-left: 1vw;
  }
  .contender-track {
    font-size: 2.5vw;
  }

  .contender-artist {
    font-size: 2vw;
  }

  .contender-audiotrack {
    height: 4.5vh;
  }
}

/* @media screen and (max-width: 790px) {
  #runner-ups-title {
    font-size: 10vw;
    word-spacing: 8px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 150px;
  }
} */

@media screen and (max-width: 800px) {
  .winners-page header {
    font-size: 10vw;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    line-height: 150px;
  }

  header b {
    letter-spacing: 20px;
    line-height: 50px;
    font-size: 10vw;
    margin: 0;
    padding: 0;
  }

    #runner-ups-title {
    font-size: 10vw;
    word-spacing: 8px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 50px;
    /* margin-top: 10vh; */
  }
    .contender-container {
    width: 55vw;
    height: 20vh;
  }
}
