.footer-container {
  margin-top: 4vh;
  border-top: solid 0.1rem black;
  display: flex;
  font-size: 15px;
  /* position: absolute;
  bottom: 0vh; */
}

.footer-items {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 2vh;
  justify-content: space-evenly;
  align-items: center;
}

.footer-items a {
    text-decoration: none;
}
