@import url("https://fonts.googleapis.com/css?family=Permanent+Marker%7CRock+Salt");

#player-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90%;
  height: 15vh;
  border-radius: 25px;
  padding: 20px 0;
  margin: 2vh 0vw 5vw;
  background-color: #212527;
  box-shadow: 0px 6px 12px 0px #0000003d;
  color: rgb(83, 83, 245);
}
.artwork {
  height: 150px;
  width: 150px;
  margin: 1vw;
}
#audio {
  width: 50%;
  outline: none;
  margin: 1vw;
}
.song {
  user-select: none;
  margin: 0 20px;
}
.song-title {
  text-align: left;
  margin: 0;
  color: white;
  font-family: "Permanent Marker";
  font-weight: normal;
  font-size: 3.5vw;
}
.song-title:hover {
  color: rgb(241, 255, 47);
}
.song-artist {
  margin: 0;
  color: white;
  font-family: "Rock Salt", cursive;
  font-weight: normal;
  font-size: 1.5vw;
}
.song-artist:hover {
  color: rgb(241, 255, 47);
}
@media screen and (max-width: 800px) {
  audio {
    width: 80%;
  }
  .player {
    flex-direction: column;
    text-align: center;
  }
  .artwork {
    height: 15vh;
    width: 25vw;
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  audio {
    width: 80%;
  }
  .song-title {
    font-size: 2.5em;
  }
  .song-artist {
    font-size: 0.8em;
  }
}
