.announce-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}
@media screen and (min-width: 890px) {
  .announce-image {
    height: 45vh;
    width: 40vw;
    margin-left: 2vw;
    border-radius: 10px;
  }

  .announce-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-right: 5vw;
    width: 35%;
  }

  .header {
    font-size: 5vw;
    margin: 0;
  }

  .announcement {
    font-size: 4vh;
  }

  .btn {
    background-color: rgba(31, 29, 39, 0.925);
    border-radius: 5px;
    color: white;
    width: 9vw;
    height: 5vh;
    align-self: flex-end;
    font-size: 2vh;
  }
}

@media screen and (max-width: 889px) {
  .announce-container {
    padding: 1em;
  }
  .announce-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-right: 2vw;
    width: 35%;
  }
  .announce-image {
    height: 25vh;
    width: 45vw;
    margin-left: 1.5vw;
    border-radius: 10px;
  }

  .header {
    font-size: 4vh;
    margin: 0;
  }

  .announcement {
    font-size: 2vh;
  }

  .btn {
    background-color: rgba(31, 29, 39, 0.925);
    border-radius: 5px;
    color: white;
    width: 9vw;
    height: 5vh;
    align-self: flex-end;
    font-size: 1.5vh;
  }
}
