.banner-container {
  height: 30vh;
  padding: 3vh 3vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.banner {
  border-radius: 5px;
  font-weight: 100;
  margin: 1.4vh;
  left: 5vw;
  right: 5vw;
  display: flex;
  text-align: center;
  padding: 2.3vw;
  font-size: 4vw;
  width: 70%;
  box-shadow: 0px 6px 12px 0px #0000003d;
  letter-spacing: 5px;
  color: rgb(73, 72, 72);
}

@media screen and (max-width: 1680px) {
  .banner {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 1290px) {
  .banner-container {
    padding: 1vh 2vw 0;
    height: 17vh;
    width: 100%;
    margin: 2vh 0 0;
  }
  .banner {
    padding: 2vw;
    margin: 0.5vh;
  }
}

@media screen and (max-width: 889px) {
  .banner-container {
    display: none;
  }
}
