.tracknav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 10%;
  width: 95vw;
}

.the-ranks-title {
  margin: 2.5em;
}

.track-sort-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
}

.search-the-ranks-form {
  display: flex;
  flex-direction: row;
}

.search-the-ranks-button {
  height: 3.5em;
  border: none;
  background-color: white;
  color: none;
  transition: 500ms;
}

.search-the-ranks-button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.search-the-ranks {
  height: 3.5vh;
  width: 20vw;
  margin: 1em;
}

.track-sort-dropdown {
  height: 3.5vh;
  width: 10vw;
  margin: 1em;
}
