.tracknav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 10%;
  width: 95vw;
}

.track-sort-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50vw;
}

.search-contributors {
  height: 3.5vh;
  width: 20vw;
  margin: 1em;
}

.track-sort-dropdown {
  height: 3.5vh;
  width: 10vw;
  margin: 1em;
}