#first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
}
#first-place-winner {
  width: 90%;
  margin-bottom: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#winner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4vh;
}

#winner-info-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: safe;
}

#winner-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  max-height: 40vh;
  width: 95%;
}

#medallion {
  font-size: 15vw;
  text-shadow: 0px 3px 1px rgb(0, 0, 0);
}
#artist-song {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Permanent Marker";
  font-weight: 100;
  word-spacing: 4px;
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  color: rgb(73, 72, 72);
  text-align: right;
}

#first-place-song {
  margin: 0;
  color: rgb(54, 53, 53);
  font-size: 3.5vw;
  text-shadow: 4px 4px 4px #f5ae14;
}

#first-place-artist {
  margin: 0;
  font-size: 1.5vw;
  font-family: "Rock Salt", cursive;
  letter-spacing: 0.5vw;
  word-spacing: 1vw;
  font-weight: lighter;
}

#winner-details {
  font-size: 2vw;
  height: 90%;
  max-height: 14.5vw;
  width: 95%;
  margin: 4vh 2vw 0 0;
  overflow-y: scroll;
  text-align: left;
  color: black;
  border-radius: 15px;
}

#winner-image {
  display: flex;
  align-self: center;
  height: 30vh;
  width: 25vw;
  border-radius: 50%;
  filter: drop-shadow(1px 4px 4px #38383a);
}

/* WINNERS AUDIO STYLING */

#audio-container {
  width: 90%;
  height: 17vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  padding: 0.5vw;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.05),
    -1px -1px 15px 5px rgba(0, 0, 0, 0.05);
}
#audiotrack {
  height: 6.5vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  outline: none;
  margin-bottom: 1vh;
}

#track-username {
  margin: 0;
  /* height: 50%; */
  width: 70%;
  color: #38383a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* line-height: 75px; */
  align-items: flex-end;
  letter-spacing: 5px;
  text-align: center;
}

#track-title {
  font-weight: 200;
  font-size: 3vw;
  margin: 0;
}
#track-artist {
  font-size: 2.5vw;
  font-weight: lighter;
  margin: 0;
}

@media screen and (max-width: 1500px) {
  #winner-image {
    height: 20vh;
    width: 20vw;
  }

  #winner-info-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: center; */
    /* text-align: center; */
  }

  #artist-song{
    text-align: center;
  }


  #first-place-song{
    font-size:4.5vw
  }

  #first-place-artist{
    font-size: 2.5vw;
  }

  #audio-container {
    height: 50%;
  }

  #track-title {
    font-size: 3.5vw;
  }

  #track-artist {
    font-size: 3vw;
  }

  #medallion {
    font-size: 10vw;
  }
}

/* @media screen and (max-width: 1100px) {
  #winner-image {
    height: 20vh;
    width: 20vw;
  }
  #winner-info {
    width: 100%;
    text-align: center;
  }
  #first-place-song {
    font-size: 5.5vw;
  }

  #first-place-artist {
    font-size: 3.5vw;
  }
} */

@media screen and (max-width: 755px) {

  #first {
    margin-top: 5vh;
  }
  #first-place-song {
    font-size: 4.5vw;
  }
  #first-place-artist {
    font-size: 2.5vw;
  }
  #winner-image {
    height: 15vh;
    width: 15vw;
  }

  #audio-container {
    width: 90%;
    margin-top: 1vh;
  }
  #track-title {
    font-size: 3vw;
  }

  #track-artist {
    font-size: 2vw;
  }

  #audiotrack {
    height: 4vh;
    /* margin-bottom: .5vh; */
    width: 90%;
    display: flex;
    flex-direction: row;
    outline: none;
  }
  #winner-info-container {
    width: 100%;
  }
  #track-username {
    font-size: 2vw;
  }
}
