.upload-track-container {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.upload-track-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.download-track-container {
  background-color: palevioletred;
  color: white;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 1.25em;
  margin: 2em;
  border-radius: 50px;
  box-shadow: 0px 6px 12px 0px #0000003d;
  transition: 0.6s;
  font-weight: bolder;
}

.download-track-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#download-link {
  color: white;
  border-radius: 50px;
}

#icon {
  font-size: 50px;
}

.upload-input {
  background-color: #fdde5a;
  color: white;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 1.25em;
  margin: 2em;
  border-radius: 50px;
  box-shadow: 0px 6px 12px 0px #0000003d;
  transition: 0.6s;
  font-weight: bolder;
}

.submit-button {
  color: white;
  /* background-color: #328e44; */
  background-color: #56af7e;
  border: none;
  outline: none;
  height: 7vh;
  width: 16vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.55em;
  flex-direction: row;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1.3s;
  margin: 0 2em;
  overflow: hidden;
  position: relative;
}
.upload-input:hover,
.submit-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hidden {
  display: hidden;
}

.disabled {
  opacity: 0.25;
  cursor: not-allowed;
  pointer-events: none;
  font-size: 1.25em;
  font-weight: bolder;
  animation: none;
}
