.upload-track-container {
  height: 30vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-upload-button-text {
  color: white;
}

.file-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  padding: 1em;
  border: #fdde5a;
  background-color: #fdde5a;
  border-radius: 5%;
  box-shadow: 0px 6px 12px 0px #0000003d;
}

.file-upload-icon {
  height: 4vh;
}

.file-upload-text {
  margin: 2em;
}
